In [111]:
import pandas as pd
import numpy as np
import csv

Wczytaj do Pandas

In [14]:
albums_list = pd.read_html('https://www.officialcharts.com/chart-news/the-best-selling-albums-of-all-time-on-the-official-uk-chart__15551/', header=0)

In [21]:
albums = albums_list[0]

In [22]:
albums.head()

   POS                                 TITLE   ARTIST  YEAR  HIGH POSN
0    1                         GREATEST HITS    QUEEN  1981          1
1    2                  GOLD - GREATEST HITS     ABBA  1992          1
2    3  SGT PEPPER'S LONELY HEARTS CLUB BAND  BEATLES  1967          1
3    4                                    21    ADELE  2011          1
4    5        WHAT'S THE STORY MORNING GLORY    OASIS  1995          1

Listę zapisz do pliku csv

In [37]:
albums.to_csv('top_selling_albums.csv', index=False)

In [49]:
albums = pd.read_csv('top_selling_albums.csv', index_col=False)

Zamień nagłówki kolumn na polskie odpowiedniki

In [55]:
albums.rename(columns={'POS':'POZYCJA', 'TITLE':'TYTYŁ', 'ARTIST':'ARTYSTA', 'YEAR':'ROK', 'HIGH POSN':'MAX POZ'}, inplace=True)

Ilu pojedynczych artystów znajduje się na liście?

In [57]:
albums['ARTYSTA'].nunique()

47

Które zespoły pojawiają się najczęściej na liście?

In [59]:
albums['ARTYSTA'].value_counts()

COLDPLAY                    3
TAKE THAT                   3
FLEETWOOD MAC               2
ABBA                        2
DIDO                        2
ORIGINAL SOUNDTRACK         2
QUEEN                       2
ROBBIE WILLIAMS             2
BEATLES                     2
MICHAEL JACKSON             2
ADELE                       2
SNOW PATROL                 1
KEANE                       1
U2                          1
JEFF WAYNE                  1
SCISSOR SISTERS             1
PHIL COLLINS                1
GEORGE MICHAEL              1
EMINEM                      1
MIKE OLDFIELD               1
TRAVIS                      1
TRACY CHAPMAN               1
ED SHEERAN                  1
NORAH JONES                 1
PAUL SIMON                  1
ORIGINAL CAST RECORDING     1
ALANIS MORISSETTE           1
CORRS                       1
KINGS OF LEON               1
BOB MARLEY & THE WAILERS    1
OASIS                       1
PINK FLOYD                  1
DIRE STRAITS                1
MADONNA                     1
AMY WINEHOUSE               1
SIMPLY RED                  1
SHANIA TWAIN                1
JAMES BLUNT                 1
LADY GAGA                   1
VERVE                       1
MEAT LOAF                   1
SIMON & GARFUNKEL           1
LEONA LEWIS                 1
MICHAEL BUBLE               1
DAVID GRAY                  1
SPICE GIRLS                 1
REM                         1
Name: ARTYSTA, dtype: int64

Zmień nagłówki kolumn, tak aby każdy z nich rozpoczynał się od wielkiej litery, a pozostałe były wprowadzone małymi literami.

In [64]:
albums.rename(columns=str.capitalize, inplace=True)

Wyrzuć z tabeli kolumnę ‘Max Poz’.

In [67]:
albums.drop('Max poz', axis=1, inplace=True)

W którym roku wyszło najwięcej albumów znajdujących się na liście?

In [72]:
most_albums_year = albums['Rok'].value_counts().to_frame()
most_albums_year.iloc[[0]]

      Rok
2000    4

Ile albumów wydanych między 1960 a 1990 rokiem włącznie znajduje się na liście?

In [91]:
albums_between_years = albums[(albums['Rok'] > 1960) & (albums['Rok'] < 1990)]
len(albums_between_years)

21

W którym roku wydany został najmłodszy album na liście?

In [92]:
albums['Rok'].max()

2015

Przygotuj listę najwcześniej wydanych albumów każdego artysty, który znalazł się na liście.

In [98]:
albums.groupby('Artysta').max()

                          Pozycja                                 Tytył   Rok
Artysta
ABBA                           46                         GREATEST HITS  1992
ADELE                          27                                    25  2015
ALANIS MORISSETTE              41                    JAGGED LITTLE PILL  1995
AMY WINEHOUSE                  13                         BACK TO BLACK  2006
BEATLES                        20  SGT PEPPER'S LONELY HEARTS CLUB BAND  2000
BOB MARLEY & THE WAILERS       16                                LEGEND  1984
COLDPLAY                       45                                   X&Y  2005
CORRS                          28                       TALK ON CORNERS  1997
DAVID GRAY                     26                          WHITE LADDER  1998
DIDO                           32                              NO ANGEL  2003
DIRE STRAITS                    8                      BROTHERS IN ARMS  1985
ED SHEERAN                     49                                     X  2014
EMINEM                         55               THE MARSHALL MATHERS LP  2000
FLEETWOOD MAC                  54                    TANGO IN THE NIGHT  1987
GEORGE MICHAEL                 53      LADIES & GENTLEMEN - THE BEST OF  1998
JAMES BLUNT                    17                        BACK TO BEDLAM  2004
JEFF WAYNE                     37                 THE WAR OF THE WORLDS  1978
KEANE                          35                       HOPES AND FEARS  2004
KINGS OF LEON                  33                     ONLY BY THE NIGHT  2008
LADY GAGA                      30                              THE FAME  2008
LEONA LEWIS                    23                                SPIRIT  2007
MADONNA                        12             THE IMMACULATE COLLECTION  1990
MEAT LOAF                      19                       BAT OUT OF HELL  1977
MICHAEL BUBLE                  24                            CRAZY LOVE  2009
MICHAEL JACKSON                 9                              THRILLER  1987
MIKE OLDFIELD                  42                         TUBULAR BELLS  1973
NORAH JONES                    50                     COME AWAY WITH ME  2002
OASIS                           5        WHAT'S THE STORY MORNING GLORY  1995
ORIGINAL CAST RECORDING        52                    THE SOUND OF MUSIC  1965
ORIGINAL SOUNDTRACK            47                                GREASE  1987
PAUL SIMON                     51                             GRACELAND  1986
PHIL COLLINS                   39                         BUT SERIOUSLY  1989
PINK FLOYD                      7             THE DARK SIDE OF THE MOON  1973
QUEEN                          10                      GREATEST HITS II  1991
REM                            60              AUTOMATIC FOR THE PEOPLE  1992
ROBBIE WILLIAMS                56             SWING WHEN YOU'RE WINNING  2001
SCISSOR SISTERS                38                       SCISSOR SISTERS  2004
SHANIA TWAIN                   15                          COME ON OVER  1997
SIMON & GARFUNKEL              21            BRIDGE OVER TROUBLED WATER  1970
SIMPLY RED                     14                                 STARS  1991
SNOW PATROL                    58                             EYES OPEN  2006
SPICE GIRLS                    29                                 SPICE  1996
TAKE THAT                      59                              PROGRESS  2010
TRACY CHAPMAN                  44                         TRACY CHAPMAN  1988
TRAVIS                         43                           THE MAN WHO  1999
U2                             36                       THE JOSHUA TREE  1987
VERVE                          18                           URBAN HYMNS  1997

Listę zapisz do pliku csv

In [114]:
albums.to_csv('top_selling_albums.csv', index=False)